.container {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: 40vw;
  background-color: #01a743;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  height: 12.5%;
  border: solid 1px black;
}

.stone {
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 100px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25vw;
}


@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 1rem;
  }

  .boardStyle {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: 70vw;
  }

  .overview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70vw;
  }
}
